
section Let's talk

section next time

section feedback


// // Tim Carry
// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Tim Carry
//     .fla.flcnw.flccv
//       .fln.flrw.mh5
//         .fln.w-third.flc
//           img.h5.br3(src='./img/avatar.jpg')
//         .fln.w-two-thirds.flc.f-headline.b.algolia-blue @pixelastic
//         .fln.w-third.flrch.mt4
//           .bg-black-80.br3.pa3.w5.f0.ma3.flc
//             img(src='./img/algolia/algolia-dark.svg')
//         .fln.w-third.flrch.mt4
//           .bg-black-80.br3.pa3.w5.f0.ma3.flc
//             img(src='./img/humantalks.png')
//         .fln.w-third.flrch.mt4
//           .bg-black-80.br3.pa3.w5.f0.ma3.flc
//             img(src='./img/techlunch.png')
//
// // Yes but...
// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Common blockers
//     .fla.flc
//       ul.list.tl.f1
//         li.bullet-radical-red I have nothing to say
//         li.bullet-radical-red.fragment I don't know of any conference
//         li.bullet-radical-red.fragment I don't know how to make slides
//         li.bullet-radical-red.fragment I have stage fright
//
//
//
